In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Datas").getOrCreate()

In [3]:
df = spark.read.csv("/home/leonardo/4522/colaboradores.csv",header=True,inferSchema=True)

In [4]:
df.show()

+---+---------------+---------+-------+----------------+-------------------+
| id|           nome|    cargo|salario|    departamento|     datadeadmissao|
+---+---------------+---------+-------+----------------+-------------------+
|  1|  Marcio Santos| Analista| 5000.0|        Projetos|2010-01-04 00:00:00|
|  2|   Bruno Garcia|Instrutor| 4000.0|     Treinamento|2010-01-06 00:00:00|
|  3|    Celia Silva|Vendedora| 3500.0|          Vendas|2011-02-07 00:00:00|
|  4|   Beatriz Dias| Gerencia| 5500.0|Recursos Humanos|2011-09-22 00:00:00|
|  5| Sandro Correia|Instrutor| 4200.0|     Treinamento|2012-02-15 00:00:00|
|  6|   Leticia Dias| Analista| 5100.0|        Projetos|2012-04-26 00:00:00|
|  7|   Cacio Farias| Analista| 5100.0|        Projetos|2012-10-25 00:00:00|
|  8|     Cezar Maia| Gerencia| 7000.0|   Administracao|2014-02-21 00:00:00|
|  9|   Amanda Nunes|Vendedora| 3500.0|          Vendas|2014-02-28 00:00:00|
| 10|   Paula Priore|Vendedora| 3500.0|          Vendas|2014-03-07 00:00:00|
| 11|     Carla Neto| Analista| 4000.0|        Projetos|2015-02-17 00:00:00|
| 12|   Marcia Costa|Vendedora| 2700.0|          Vendas|2015-02-17 00:00:00|
| 13|  Luciana Prado| Analista| 4100.0|Recursos Humanos|2015-09-17 00:00:00|
| 14| Roberta Amaral|Vendedora| 2800.0|          Vendas|2015-10-17 00:00:00|
| 15|Rogerio Ribeiro|Instrutor| 4000.0|     Treinamento|2010-08-04 00:00:00|
| 16|   Rosana Rocha|Vendedora| 3000.0|          Vendas|2010-09-04 00:00:00|
| 17|Claudio Queiroz| Analista| 6500.0|        Projetos|2011-01-04 00:00:00|
| 18|   Diego Chaves| Gerencia| 7500.0|   Administracao|2009-10-25 00:00:00|
| 19|Sergio Nogueira|Instrutor| 5300.0|     Treinamento|2008-10-25 00:00:00|
| 20|  Samantha Reis|Vendedora| 4000.0|          Vendas|2007-12-03 00:00:00|
+---+---------------+---------+-------+----------------+-------------------+

In [5]:
from pyspark.sql.functions import format_number,dayofmonth,hour,dayofyear,month,year,weekofyear,date_format

In [6]:
df.select(dayofmonth(df['datadeadmissao'])).show()

+--------------------------+
|dayofmonth(datadeadmissao)|
+--------------------------+
|                         4|
|                         6|
|                         7|
|                        22|
|                        15|
|                        26|
|                        25|
|                        21|
|                        28|
|                         7|
|                        17|
|                        17|
|                        17|
|                        17|
|                         4|
|                         4|
|                         4|
|                        25|
|                        25|
|                         3|
+--------------------------+

In [7]:
df.select(hour(df['datadeadmissao'])).show()

+--------------------+
|hour(datadeadmissao)|
+--------------------+
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
|                   0|
+--------------------+

In [8]:
df.select(dayofyear(df['datadeadmissao'])).show()

+-------------------------+
|dayofyear(datadeadmissao)|
+-------------------------+
|                        4|
|                        6|
|                       38|
|                      265|
|                       46|
|                      117|
|                      299|
|                       52|
|                       59|
|                       66|
|                       48|
|                       48|
|                      260|
|                      290|
|                      216|
|                      247|
|                        4|
|                      298|
|                      299|
|                      337|
+-------------------------+

In [9]:
df.select(month(df['datadeadmissao'])).show()

+---------------------+
|month(datadeadmissao)|
+---------------------+
|                    1|
|                    1|
|                    2|
|                    9|
|                    2|
|                    4|
|                   10|
|                    2|
|                    2|
|                    3|
|                    2|
|                    2|
|                    9|
|                   10|
|                    8|
|                    9|
|                    1|
|                   10|
|                   10|
|                   12|
+---------------------+

In [10]:
df.select(year(df['datadeadmissao'])).show()

+--------------------+
|year(datadeadmissao)|
+--------------------+
|                2010|
|                2010|
|                2011|
|                2011|
|                2012|
|                2012|
|                2012|
|                2014|
|                2014|
|                2014|
|                2015|
|                2015|
|                2015|
|                2015|
|                2010|
|                2010|
|                2011|
|                2009|
|                2008|
|                2007|
+--------------------+

In [11]:
df.withColumn("Ano",year(df['datadeadmissao'])).show()

+---+---------------+---------+-------+----------------+-------------------+----+
| id|           nome|    cargo|salario|    departamento|     datadeadmissao| Ano|
+---+---------------+---------+-------+----------------+-------------------+----+
|  1|  Marcio Santos| Analista| 5000.0|        Projetos|2010-01-04 00:00:00|2010|
|  2|   Bruno Garcia|Instrutor| 4000.0|     Treinamento|2010-01-06 00:00:00|2010|
|  3|    Celia Silva|Vendedora| 3500.0|          Vendas|2011-02-07 00:00:00|2011|
|  4|   Beatriz Dias| Gerencia| 5500.0|Recursos Humanos|2011-09-22 00:00:00|2011|
|  5| Sandro Correia|Instrutor| 4200.0|     Treinamento|2012-02-15 00:00:00|2012|
|  6|   Leticia Dias| Analista| 5100.0|        Projetos|2012-04-26 00:00:00|2012|
|  7|   Cacio Farias| Analista| 5100.0|        Projetos|2012-10-25 00:00:00|2012|
|  8|     Cezar Maia| Gerencia| 7000.0|   Administracao|2014-02-21 00:00:00|2014|
|  9|   Amanda Nunes|Vendedora| 3500.0|          Vendas|2014-02-28 00:00:00|2014|
| 10|   Paula Priore|Vendedora| 3500.0|          Vendas|2014-03-07 00:00:00|2014|
| 11|     Carla Neto| Analista| 4000.0|        Projetos|2015-02-17 00:00:00|2015|
| 12|   Marcia Costa|Vendedora| 2700.0|          Vendas|2015-02-17 00:00:00|2015|
| 13|  Luciana Prado| Analista| 4100.0|Recursos Humanos|2015-09-17 00:00:00|2015|
| 14| Roberta Amaral|Vendedora| 2800.0|          Vendas|2015-10-17 00:00:00|2015|
| 15|Rogerio Ribeiro|Instrutor| 4000.0|     Treinamento|2010-08-04 00:00:00|2010|
| 16|   Rosana Rocha|Vendedora| 3000.0|          Vendas|2010-09-04 00:00:00|2010|
| 17|Claudio Queiroz| Analista| 6500.0|        Projetos|2011-01-04 00:00:00|2011|
| 18|   Diego Chaves| Gerencia| 7500.0|   Administracao|2009-10-25 00:00:00|2009|
| 19|Sergio Nogueira|Instrutor| 5300.0|     Treinamento|2008-10-25 00:00:00|2008|
| 20|  Samantha Reis|Vendedora| 4000.0|          Vendas|2007-12-03 00:00:00|2007|
+---+---------------+---------+-------+----------------+-------------------+----+

In [12]:
newdf = df.withColumn("Ano",year(df['datadeadmissao']))
newdf.groupBy("Ano").mean()[['avg(Ano)','avg(salario)']].show()

+--------+-----------------+
|avg(Ano)|     avg(salario)|
+--------+-----------------+
|  2007.0|           4000.0|
|  2015.0|           3400.0|
|  2014.0|4666.666666666667|
|  2012.0|           4800.0|
|  2009.0|           7500.0|
|  2010.0|           4000.0|
|  2011.0|5166.666666666667|
|  2008.0|           5300.0|
+--------+-----------------+

In [13]:
result = newdf.groupBy("Ano").mean()[['avg(Ano)','avg(salario)']]
result = result.withColumnRenamed("avg(Ano)","Ano")
result = result.select('Ano',format_number('avg(salario)',2).alias("Média Salário")).show()

+------+-------------+
|   Ano|Média Salário|
+------+-------------+
|2007.0|     4,000.00|
|2015.0|     3,400.00|
|2014.0|     4,666.67|
|2012.0|     4,800.00|
|2009.0|     7,500.00|
|2010.0|     4,000.00|
|2011.0|     5,166.67|
|2008.0|     5,300.00|
+------+-------------+